/* -------------------------------------- */
/* -------- Custom Variables ------------ */
/* -------------------------------------- */

:root {

    /* ## Colors */

    /* ### Primary */

    --linear-gradient-active-input-border: 249 99% 64%;
    --linear-gradient-second: 278 94% 30%;
    --red-input-errors: 0 100% 66;

    /* ### Neutral */

    --white: 0 0% 100%;
    --light-grayish-violet: 270 3% 87%;
    --dark-grayish-violet: 279 6% 55%;
    --very-dark-violet: 278 68% 11%;

}


/* ---------------------------- */
/* ------- CSS Reset ---------- */
/* ---------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p {
    margin: 0;
}

img,
picture {
    max-width: 100%;
    display: block;
    /* fix spacing issues */
}

/* make forms easy to work with */

input,
button,
textarea,
select {
    font: inherit;
}


/* -------------------------------------- */
/* ------------ Body Defaults ----------- */
/* -------------------------------------- */

body {
    font-size: 18px;
    background-color: hsl(var(--white));
    font-family: 'Space Grotesk', sans-serif;
}

header {
    display: flex;
    flex-direction: column;
}

label {
    text-transform: uppercase;
    margin-block: 1em .4em;
    font-weight: 500;
    font-size: .8rem;
}

input {
    border-radius: .4em;
    border: 1.6px solid hsl(var(--light-grayish-violet));
    padding: .5em;
    margin-bottom: .9em;
    outline: none;
}


input:hover,
input:focus {
    border-color: hsl(var(--linear-gradient-active-input-border));
}


.cards {
    position: relative;
    background-image: url(images/bg-main-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: min(230px,35vh);
    margin-bottom: 2rem;
}

.card {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    color: hsl(var(--white));
    /* width: 65%; */
    width: min(80%, 260px);
    height: min(40vw,140px);
    scale: .8;
    border-radius: 7px;
    padding: 1rem;
    box-shadow: 0 40px 50px  rgb(0 0 0 / .34);
}

/* ------------------------------------------ */
/* ---------------- Card Front -------------- */
/* ------------------------------------------ */

.card-front {
    background-image: url(images/bg-card-front.png);
    left: 50%;
    top: 50%;
    translate: -72%;
    z-index: 8;
    /* margin-left: .4rem; */
    /* width: 80%;
    height: 0;
    padding-top: 66.64%; */
    /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
    /* trick to make div same size as bg */
}

.card-front > .flex {
    align-items: center;
    margin-bottom: 30px;
}

.big-circle {
    display: grid;
    width: 12%;
    aspect-ratio: 1;
    background-color: hsl(var(--white));
    border-radius: 50%;
}

.small-circle {
    display: grid;
    width: 7%;
    aspect-ratio: 1;
    border: 1px solid hsl(var(--white));
    border-radius: 50%;
}

.card-num {
    display: block;
    width: 100%;
    margin-inline: auto;
    font-size: 16px;
}
.cardholder {
    text-transform: uppercase;
    font-size: 12px;
}
.exp-date {
    margin-left: 20%;
    font-size: 12px;
}

/* ------------------------------- */
/* -------- Card Back ------------ */
/* ------------------------------- */

.card-back {
    background-image: url(images/bg-card-back.png);
    left: 50%;
    translate: -30%;
    top: 5vh;
    right: 5vh;
    z-index: 7;
}

.cvc {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 13%;
    translate: 0 -50%;
    font-size: 12px;
}


form {
    display: flex;
    flex-direction: column;
    width: min(90%, 350px);
    margin-inline: auto;
    padding-block: 3rem;
}


/* Chrome, Safari, Edge, Opera to hide arrow on input type number*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.flex {
    display: flex;
    gap: var(--gap, .7rem);
    margin-bottom: .7em;
}


.flex-column {
    display: flex;
    flex-direction: column;
}

.flex>div {
    width: 50%;
}

.flex input {
    margin: 0;
}

.exp-label {
    width: 100%;
}


.error {
    display: none;
    font-size: .7em;
    color: red;
    margin: 0px;
}


.thankx {
    display: none;
}

.confirm-btn {
    font-weight: 500;
    color: hsl(var(--white));
    background-color: hsl(var(--very-dark-violet));
    border: none;
    border-radius: .5em;
    padding-block: .7em;
}

@media (min-width: 980px) {
    header {
        flex-direction: row;
        height: 100vh;
    }

    .cards {
        /* position: relative; */
        background-image: url(images/bg-main-desktop.png);
        height: 100vh;
        width: 30vw;
        padding-block: 25vh;
        margin-bottom: 0;
    }

    .card {
        padding: 2rem;
        width: min(450px,35vw);
        height: min(20vw,250px);
    }

    .card-front {
        top: 50%;
        left: 25%;
        translate: 10% -110%;
    }

    .card-front > .flex {
        margin-bottom: 4vw;
    }

    .card-num {
        width: 100%;
        margin-inline: auto;
        letter-spacing: .2rem;
        font-size: min(1.5vw,24px);
        margin-bottom: 1rem;
    }

    .cardholder {
        font-size: 16px;
    }

    .exp-date {
        position: absolute;
        right: 2rem;
        font-size: 16px;
    }

    
    .card-back {
        top: 60%;
        left: 60%;
        translate: 0 -25%;
    }

    .cvc {
        top: 50%;
        left: 80%;
        translate: 0 -50%;
        letter-spacing: .2em;
        font-size: 16px;
    }

    
    .exp-label {
        width: max-content;
    }

    section.form {
        position: relative;
        height: 100vh;
        width: 70%;
    }

    form {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -30% -50%;
    } 


}

